<script>
$('#page a').click(function(){
	var href=$(this).attr('href');
	$.get(href, function(result){
	    $("#fee_table").html(result);
	  });
	return false;
});
</script>
<div class="clearfix" style="text-align:center"><h4>{$info}费用分析统计表</h4></div>

<div ><h5>费用合计:<font color="red">￥{$fee|number_format}</font>&nbsp;&nbsp;
收入合计:￥{$income|number_format}</h5></div>

<table class="bordered" style="width:100%;font-size:12px"  > 
    <thead> 
    <tr>
        <th >#</th> 
    	<th>日期</th> 
    	<th>金额</th> 
    	<th>摘要</th> 
    	<th>操作人</th>
    </tr>
    </thead>
    <tbody>
    <volist name="fee_table" id="vo">
    <tr >
    <td>{$i}</td>
    <td>{$vo.time}</td>
    <if condition="$vo.sum lt 0">
    <td><font color="red">￥{$vo.sum|number_format}</font></td>
    <else /><td>￥{$vo.sum|number_format}</td>
    </if>
     
    <td>{$vo.summary}</td>
    <td>{$vo.user}</td>
    </tr>
    </volist>
    </tbody>
    </table>
     <div class="green-black" style="float:right" id="page">{$page}</div>