<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">初期数据录入</h1>
</div>
<div class="wrapper-md" ng-controller="DataController">
    <div class="panel panel-default">
        <div class="panel-body">
           <div>
               <button type="button" class="btn  btn-success" ng-click="mCredit()">初期应收录入</button>
               <button type="button" class="btn  btn-info" ng-click="sCredit()">初期应付录入</button>
               <button type="button" class="btn  btn-primary" ng-click="stock()">初期库存录入</button>
           </div>
            <div>
                <ng-include src="templateUrl()"></ng-include>
            </div>
        </div>
    </div>
    <!-- toaster directive -->
    <toaster-container toaster-options="{'position-class': 'toast-center', 'close-button':true}"></toaster-container>
    <!-- / toaster directive -->
</div>