<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">公司信息</h1>
</div>
<div class="wrapper-md" ng-controller="SettingController">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" ng-submit="editInfo()">
                        <div class="form-group">
                            <label>公司名称</label>
                            <input type="text" class="form-control" ng-model="info.cname" >
                        </div>
                        <div class="form-group">
                            <label>联系电话</label>
                            <input type="text" class="form-control" ng-model="info.ctel">
                        </div>
                        <div class="form-group">
                            <label>地址(多个地址，请用加号+进行分隔)</label>
                            <input type="text" class="form-control" ng-model="info.cadd">
                        </div>
                        <div class="form-group">
                            <label>打印设置(每页显示行数)</label>
                            <input type="text" class="form-control" ng-model="info.print_lopo">
                        </div>
                        <div class="form-group">
                            <label>是否打印备注信息:</label>
                            <input type="checkbox" ng-model="print_remark"  >
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary">修改</button>
                    </form>
                </div>
            </div>
    <!-- toaster directive -->
    <toaster-container toaster-options="{'position-class': 'toast-center', 'close-button':true}"></toaster-container>
    <!-- / toaster directive -->
</div>