<div class="wrapper-md" ng-controller="StaffUpdateController">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-validation" ng-submit="updateStaff()">
                <div class="form-group">
                    <label>员工姓名</label>
                    <input type="text" class="form-control" ng-model="data.staff_name" required ng-change="py(data.staff_name)">
                </div>
                <div class="form-group">
                    <label>员工编码</label>
                    <input type="text" class="form-control" ng-model="data.staff_sn" required>
                </div>
                <div class="form-group">
                    <label>联系电话</label>
                    <input type="text" class="form-control" ng-model="data.staff_phone">
                </div>
                <div class="form-group">
                    <label>系统角色</label>
                    <select class="form-control" ng-model="data.role_id" ng-options="role.role_id as role.role_name for role in roles">
                    </select>
                </div>
                <button type="submit" class="btn btn-sm btn-primary" ng-disabled="check">{{!check?'修改':'保存中，请稍后'}}</button>
                <a  class="btn btn-sm btn-info " ng-click="closeThisDialog()">取消</a>
            </form>
        </div>
    </div>

</div>