<div class="wrapper-md" ng-controller="SupplyUpdateController">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-validation" ng-submit="updateSupply()">
                <div class="form-group">
                    <label>供应商姓名</label>
                    <input type="text" class="form-control" ng-model="data.supply_name" required ng-change="py(data.supply_name)">
                </div>
                <div class="form-group">
                    <label>供应商编码</label>
                    <input type="text" class="form-control" ng-model="data.supply_sn" required>
                </div>
                <div class="form-group">
                    <label>联系电话</label>
                    <input type="text" class="form-control" ng-model="data.supply_phone">
                </div>
                <button type="submit" class="btn btn-sm btn-primary" ng-disabled="check">{{!check?data.supply_id>0?'修改':'新增':'保存中，请稍后'}}</button>
                <a  class="btn btn-sm btn-info " ng-click="closeThisDialog()">取消</a>
            </form>
        </div>
    </div>

</div>