<link rel="stylesheet" href="__CSS__/reset.css" media="screen" />
<link rel="stylesheet" href="__CSS__/mytable.css"/>
<table class="bordered" style="width:40%;font-size:12px"  >
    <thead> 
    <tr>
    <td colspan='7'><h4>{$info.sname}:{$info.remark}结转明细</h4>&nbsp;{$info.time|substr=0,10}</td>
    </tr>
    <tr>
        <th>#</th> 
        <th>日期</th> 
    	<th>商品名称</th>
    	<th>价格</th>
    	<th>数量</th> 
    	<th>金额</th> 
    </tr>
    </thead>
    <volist name="plist" id="vo">
    <tr>
    <td>{$i}</td>
    <td>{$vo.time|substr=0,10}</td>
    <td>{$vo.gname}</td>
    <td>{$vo.price}</td>
    <td>{$vo.number}</td>
    <td>￥{$vo.sum|number_format}</td>
    </tr>
    </volist>
    <tfoot>
    <tr>
    <td colspan='5'>金额合计:</td>
    <td>￥{$ttl_sum|number_format}</td>
    </tr>
    </tfoot>
    </table>