<script>
$('#p_page a').click(function(){
	var href=$(this).attr('href');
	$.get(href, function(result){
	    $("#purchase_table").html(result);
	  });
	return false;
});
</script>

<table class="bordered" style="width:100%;font-size:12px" id="screditDetail_tb" >

    <thead> 
    <tr>
        <th>#</th> 
        <th>日期</th> 
    	<th>商品名称</th>
    	<th>价格</th>
    	<th>数量</th> 
    	<th>金额</th> 
    	<th>状态</th>
    </tr>
    </thead>
    <tbody>
    <volist name="check_list" id="vo">
    <if condition="$vo.cf eq 1 and $vo.sum lt 0">
    <else />
    <tr >
    <td>{$i}</td>
    <if condition="$vo.idgoods gt 0">
    <td>{$vo.time|substr=0,10}</td>
    <td>{$vo.gname}</td>
    <td>{$vo.price}</td>
    <td>{$vo.number}</td>
    <td>￥{$vo.sum|number_format}</td>
   <if condition="$vo.finish eq 1 ">
   <if condition="$vo.cf gt 1"><td>已结转</td><else/><td>已付</td></if>
    <else />
    <td><font color='red'>未付</font></td>
    </if>
    <elseif condition="$vo.sum lt 0"/>
    <td>{$vo.time|substr=0,10}&nbsp;付款:</td>
    <td>{$vo.gname}</td>
    <td>{$vo.price}</td>
    <td>{$vo.number}</td>
    <td><font color="red">￥{$vo.sum|number_format}</font></td>
     <td><if condition="$vo.cf gt 1">已结转<elseif condition="$vo.finish eq 1"/>已销帐</if></td>
    <else />
    <td>{$vo.time|substr=0,10}&nbsp;结转余额:</td>
    <td>{$vo.gname}</td>
    <td>{$vo.price}</td>
    <td>{$vo.number}</td>
    <td><font color="red">￥{$vo.sum|number_format}</font></td>
    <td> <if condition="$vo.finish eq 1"><if condition="$vo.cf gt 1">已结转<else/>已付款</if><else /><font color='red'>未付</font></if></td>
    </if>
    </tr>
    </if>
    </volist>
    <tr><td colspan="7" align="left">合计应付金额:￥{$sum|number_format}</td></tr>
    </tbody>
</table>
<div class="green-black" style="float:right" id="p_page">{$page}</div>