<script>
$('#page a').click(function(){
	var href=$(this).attr('href');
	$.get(href, function(result){
	    $("#purchase_table").html(result);
	  });
	return false;
});
function showinfo(id){
	var info=$('#'+id).css("display");
	if(info=='none'){
		$.get('__URL__/purchaseDetail',{'inorder':id}, function(result){
		    $("#"+id+' div').html(result);
		  });
		$('#'+id).css("display","block");
	}else{
		$('#'+id).css("display","none");
	}
}

</script>

<table class="bordered" style="width:100%;font-size:12px" > 
      <tbody>
    <thead> 
    <tr>
        <th>#</th> 
    	<th>入库单号</th> 
    	<th>合计数量</th> 
    	<th>合计金额</th> 
    	<th>合计费用</th>
    	<th>操作</th>
    </tr>
    </thead>
    <volist name="purchase_list" id="vo">
    <tr id=tr{$vo.inorder}>
    <td>{$i}</td>
    <td>{$vo.inorder}</td>
    <td>{$vo.ttl_num|number_format=2}</td>
    <td>{$vo.ttl_sum}</td>
    <td>{$vo.ttl_fee}</td>
    <td><a onclick="showinfo('{$vo.inorder}')">展开详情</a></td>
    </tr>
    <tr style="display:none" id={$vo.inorder}><td colspan=6><div ><img src="__IMG__/ajax-loader-trans.gif">&nbsp;&nbsp;加载中,请稍候...</div></td></tr>
    </volist>
    </tbody>
  
</table>
       <div class="green-black" style="float:right" id="page">{$page}</div>