
<script>
$('#page a').click(function(){
	var href=$(this).attr('href');
	$.get(href, function(result){
	    $("#supply_table").html(result);
	  });
	return false;
});
$('table tr').dblclick(function(){
	var idsupply=$(this).attr('id');
	//alert("hello");
	
	$('#idsupply').val(idsupply);
	$('#sname').val($('#'+idsupply+" td:nth-child(2)").text());
	$('#ssn').val($('#'+idsupply+" td:nth-child(3)").text());
	$('#stel').val($('#'+idsupply+" td:nth-child(4)").text());
	$('#sname').focus();
});
</script>
<table class="bordered" style="width:100%;font-size:12px"> 
      <tbody>
    <thead> 
    <tr>
        <th>#</th> 
    	<th>供应商姓名</th> 
    	<th>供应商编码</th> 
    	<th>供应商电话</th> 
    </tr>
    </thead>
     <volist name="supply_list" id="vo" >
     <tr id={$vo.idsupply}>
     <td>{$i}</td>
     <td>{$vo.sname}</td>
     <td>{$vo.ssn}</td>
     <td>{$vo.stel}</td>
     </tr>
     </volist>
                 </tbody> 
                 </table> 
       <div class="green-black" style="float:right" id="page">{$page}</div>