
<html>   
<head>   
<title>瀚盛销售管理系统水产专用版</title>   
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">   
<!--media=print 这个属性可以在打印时有效-->   
<style media=print>   
.Noprint{display:none;}   
.PageNext{page-break-after: always;}   
</style>   
 
<style> 
table
{
border-collapse:collapse;
}  
table, th, td
{
border: 1px solid black;
}
 
</style>   
 
</head>   

<body >
<center class="Noprint" >   
<p>   
<OBJECT id=WebBrowser classid=CLSID:8856F961-340A-11D0-A96B-00C04FD705A2 height=0 width=0>   
</OBJECT>   
<input type=button value=打印 onclick=document.all.WebBrowser.ExecWB(6,1)>    
<input type=button value=页面设置 onclick=document.all.WebBrowser.ExecWB(8,1)>   
<input type=button value=打印预览 onclick=document.all.WebBrowser.ExecWB(7,1)>   
<br/>   
</p>   
</center> 
<volist name='slist' id='vo'>
<if condition='($i%$print) eq 1'><if condition='$i gt 1'><div class="PageNext"></div></if>
<div style=" text-align:center;"><font size="4px"><b>{$info.info_name}</b></font></div>
<div style=" text-align:center;"><font size="3px">
<empty name="Think.get.sdate">
{:date('Y-m-d')}
<else /> 
{$Think.get.sdate|substr=5,5}到{$Think.get.edate|substr=5,5}
</empty> 
客户对账单</font></div>
<br />
客户:&nbsp;{$_GET['mname']}{$mname}&nbsp;&nbsp;&nbsp;&nbsp;<br />
打印日期:&nbsp;{:date('Y-m-d H:i:s')} &nbsp;&nbsp;
<table width="280px">
<tr>
<td  width="15%" align="center" >日期</td>
<td  width="20%" align="center">品名</td>
<td  width="15%" align="center">数量</td>
<td  width="15%" align="center">单价</td>
<td  width="35%" align="center">总价</td>
</tr>
</if>
 <if condition="$vo.sum lt 0 ">
 <if condition="$vo.idgoods neq null">
 <tr>
 <td style="padding-left:0px;font-size:14px"  align="left">{$vo.time|substr=5,5}</td>
<td style="padding-left:0px;font-size:12px"  align="center"><B> 付款</B></td>
<td style="padding-left:0px"  align="center"></td>
<td style="padding-left:0px"  align="center"></td>
<td style="padding-left:0px"  align="center">￥{$vo.sum|number_format}</td>
</tr>
</if>
 <else />
 <tr>
 <td style="padding-left:0px;font-size:14px"  align="left">{$vo.time|substr=5,5}</td>
 <if condition="$vo.idgoods gt 0">
<td style="padding-left:0px;font-size:12px"  align="left"><B>{$vo.gname}</B> </td>
<else />
<td style="padding-left:0px;font-size:12px"  align="center"><B>结转余额</B> </td>
</if>
<td style="padding-left:0px"  align="center">{$vo.number}</td>
<td style="padding-left:0px"  align="center">{$vo.price|number_format=1}</td>
<td style="padding-left:0px"  align="center">￥{$vo.sum|number_format}<font size='2px'>&nbsp;
<if condition="$vo.finish eq 1 ">
<if condition="$vo.cf gt 1">结转<elseif condition="$vo.cf eq 1 or $vo.idgoods gt 0"/>已付</if></font></td>   
 </if>
</tr>        
<if condition="$vo.remark neq null">
<tr><td colspan='5'>备注:{$vo.remark}</td></tr>
</if>
</if>
<if condition='($i%$print) eq 0'>
</table>
<br/><br/>
<center>第{$i/$print|ceil}页/共{$len/$print|ceil}页</center>
</if>
</volist>
<if condition='$i%$print gt 5'></table><br/><br/>
<center>第{$i/$print|ceil}页/共{$len/$print|ceil}页</center></if>
<if condition='(($i%$print) eq 0) or ($i%$print) gt 5'><div class="PageNext"></div>
<div style=" text-align:center;"><font size="4px"><b>{$info.info_name}</b></font></div>
<div style=" text-align:center;"><font size="3px">
<empty name="Think.get.sdate">
{:date('Y-m')}
<else /> 
{$Think.get.sdate|substr=5,5}到{$Think.get.edate|substr=5,5}
</empty> 
客户对账单</font></div>
<br />
客户:&nbsp;{$_GET['mname']}{$mname}&nbsp;&nbsp;&nbsp;&nbsp;<br />
打印日期:&nbsp;{:date('Y-m-d H:i:s')} &nbsp;&nbsp;
<table width="280px">
<tr>
<td  width="15%" align="center" >日期</td>
<td  width="20%" align="center">品名</td>
<td  width="15%" align="center">数量</td>
<td  width="15%" align="center">单价</td>
<td  width="35%" align="center">总价</td>
</tr>
</if>
<tr><td colspan='3'>合计数量：{$ttl_num}</td><td colspan='2'>合计货款：￥{$ttl_sum|number_format}</td></tr>
<tr><td colspan='5'>合计付款：￥{$ttl_paid|number_format}</td></tr>
</table>
<div>
<br/>
客户签名：<br/><br/>
谢谢您的惠顾，欢迎您再次光临！<br />
电话:{$info.info_tel} <br/>
地址:{$info.info_add}<br/>
<div style="width:280px">
<img style="display:inline" alt="" src="__IMG__/pcode.jpg">
<div style="display:inline ;width:60%">本软件由&nbsp;<em><b>泸州瀚盛渔需用品</b></em>&nbsp;开发
技术支持及私人定制请扫描二维码<br/><br/></div>
<center>第{$len/$print|ceil}页/共{$len/$print|ceil}页</center>
</div>
</body>   
</html>  