<table id="oTable" style="width:100%;color:white;border:none;border-collapse:collapse;z-index:-1">
<volist name='rs' id='vo'>
<if condition="$vo.finish eq 0">
<tr id='idsale{$vo.idsale}' style='color:rgb(255,0,0);font-weight:bold'>
<else /><tr></if>
<td width="7%" style="text-align:center;">{$i}
<input type="hidden" name='idmember' value="{$vo.idmember}" />
<input type="hidden" name='inorder' value="{$vo.inorder}" />
<input type="hidden" name='idgoods' value="{$vo.idgoods}" />
</td>
<td width="23%" >{$vo.mname}</td>
<td width="10%" >{$vo.gname}</td>
<td width="30%" >{$vo.number1|number_format=1}-{$vo.number2|number_format=1}={$vo.number|number_format=1}</td>
<td width="15%">￥{$vo.price|number_format=1}</td>
<td width="15%">￥{$vo.sum}</td>
</tr>
</volist>
</table>