<script>
$('#page a').click(function(){
	var href=$(this).attr('href');
	$.get(href, function(result){
	    $("#mcredit_table").html(result);
	  });
	return false;
});

$('#mcredit_tb tbody tr').dblclick(function(){
	var idmember=$(this).attr('id').substr(6);
	var strHtml="<div id='dingwei'><img src='__IMG__/ajax-loader-trans.gif'>&nbsp;&nbsp;加载中...</div>";
	$('body').append(strHtml);
	var title=$(this).find( "td:nth(1)").text()+":"+$(this).find( "td:nth(2)").text();
	$.get("__URL__/mcreditDetail",
		{'idmember':idmember},
		function(result){
			$('#dingwei').remove();
			$('#mcredit_detail').html(result);
			$('#mcredit_detail').dialog({
				 width:600,
				 maxHeight:600,
				 title:title,
				 modal: true,
			     close: function () { $(this).html(''); },
			     buttons: {
			         "收款":function(){collect(idmember);$(this).dialog( "close" ); },
			         "打印":myprint,
			    	 "取消": function() { $(this).dialog( "close" ); },
			      },
			});
	});
});

function collect(id){
	//alert(id);return;
	var sum=$('#mcreditDetail_sum').val();
	var mname=$('#'+id).find("td:nth(1)").text();
	if(isNaN(sum)){
		alert('请输入正确的付款金额!');
		return;
	} 
	var idsale=new Array();
	var idbank=$('#idbank').val();
	var cf=$('#cf').attr('checked');
	cf=cf?1:0;
	$('#mcreditDetail_tb input[name=idsale]').each(function(){
		 if ($(this).attr("checked")) {  
           idsale.push($(this).val());
		 }
	});
	$.post("__URL__/mcreditPayment",{
		'sum':sum,
		'idsale':idsale,
		'idbank':idbank,
		'cf':cf,
		'mname':mname,
		'idmember':id,
	},function(result){
		var data=$.parseJSON(result);
		if(data.status==1){
			fresh();
	        $('#mcredit_detail').dialog("close");
		}
		mynotice(data);
	});
}
function fresh(){
	 $.get("__URL__/mcreditTable", function(result){
		    $("#mcredit_table").html(result);
		  });
}
function myprint(){
	var idmember=$('#idmember').val();
	var idsale=[];
	$('#mcreditDetail_tb input[name=idsale]').each(function(){
		 if ($(this).attr("checked")) {  
          idsale.push($(this).val());
		 }
	});
	$('#mcredit_detail').dialog("close");
	if(idsale.length>0){
		$.ajax({
			 type:"GET",
			 url:"__URL__/saleprint",
			 data:{idsale:idsale,idmember:idmember},
			 async: false,
			 success: function(data){
				 myWindow=window.open();
				 myWindow.document.write(data);
				 myWindow.focus();
			 }
		});
	}else
	window.open("__URL__/saleprint/idmember/"+idmember);
}
</script>

<table class="bordered" style="width:100%;font-size:12px" id='mcredit_tb'> 
     
    <thead> 
    <tr>
        <th>#</th> 
    	<th>客户姓名</th> 	 
    	<th>应收金额</th> 	
    	
    </tr>
    </thead>
     <tbody>
    <volist name="mcredit_list" id="vo">
    <tr id=member{$vo.idmember}>
    <td>{$i}</td>
    <td>{$vo.mname}</td>
    <td>￥{$vo.sum|number_format}元</td>
    
    </tr>
    </volist>
</table>
<div class="green-black" style="float:right" id="page">{$page}</div>