
<script>
$('#page a').click(function(){
	var href=$(this).attr('href');
	$.get(href, function(result){
	    $("#member_table").html(result);
	  });
	return false;
});
$('table tr').dblclick(function(){
	var idmember=$(this).attr('id');
	//alert("hello");
	
	$('#idmember').val(idmember);
	$('#mname').val($('#'+idmember+" td:nth-child(2)").text());
	$('#msn').val($('#'+idmember+" td:nth-child(3)").text());
	$('#mtel').val($('#'+idmember+" td:nth-child(4)").text());
	$('#mname').focus();
});
</script>
<table class="bordered" style="width:100%;font-size:12px"> 
      <tbody>
    <thead> 
    <tr>
        <th>#</th> 
    	<th>客户姓名</th> 
    	<th>客户编码</th> 
    	<th>客户电话</th> 
    </tr>
    </thead>
     <volist name="member_list" id="vo" >
     <tr id={$vo.idmember}>
     <td>{$i}</td>
     <td>{$vo.mname}</td>
     <td>{$vo.msn}</td>
     <td>{$vo.mtel}</td>
     </tr>
     </volist>
                 </tbody> 
                 </table> 
       <div class="green-black" style="float:right" id="page">{$page}</div>