
<script>
$('#page a').click(function(){
	var href=$(this).attr('href');
	$.get(href, function(result){
	    $("#goods_table").html(result);
	  });
	return false;
});
//双击产品进行修改,form赋值
$('table tr').dblclick(function(){
	var idgoods=$(this).attr('id');
	$('#idgoods').val(idgoods);
	$('#gname').val($('#'+idgoods+" td:nth-child(2)").text());
	$('#gsn').val($('#'+idgoods+" td:nth-child(3)").text());
	$('#gname').focus();
	var id=$('#'+idgoods+" td:nth-child(1) input[name='idcat']").val();
	//$("#idcat").removeAttr("style");
	$("#idcat select").val(id);	
	$("#idcat span").text($('#'+idgoods+" td:nth-child(4)").text());
});
</script>
<table class="bordered" style="width:100%;font-size:12px"> 
      <tbody>
    <thead> 
    <tr>
        <th>#</th> 
    	<th>产品名称</th> 
    	<th>产品编码</th> 
    	<th>所属种类</th> 
    </tr>
    </thead>
     <volist name="goods_list" id="vo" >
     <tr id={$vo.idgoods}>
     <td>{$i}<input type="hidden" value={$vo.idcat} name="idcat"></td>
     <td>{$vo.gname}</td>
     <td>{$vo.gsn}</td>
     <td>{$vo.idname}</td>
     </tr>
     </volist>
                 </tbody> 
                 </table> 
       <div class="green-black" style="float:right" id="page">{$page}</div>