<div class="wrapper-md" ng-controller="StockController">
    <div class="panel panel-default">
        <div class="panel-heading">
            库存列表{{stockSum|currency:'￥'}}
        </div>
        <div class="row wrapper">
            <div class="col-sm-9">
                <div class="btn-group" style="display: inline">
                    <label class="btn btn-primary" ng-click="search()" ng-repeat="store in stores" ng-model="$parent.storeId" btn-radio="store.store_id">{{store.store_name}}</label>
                </div>
                <div class="btn-group" style="display: inline">
                    <label class="btn btn-success" ng-click="search()" ng-model="inorder" btn-radio="2" >全部商品</label>
                    <label class="btn btn-success" ng-click="search()" ng-model="inorder" btn-radio="1">批次商品</label>
                    <label class="btn btn-success" ng-click="search()" ng-model="inorder" btn-radio="0">普通商品</label>
                </div>
                <div >
                    <select ng-model="order" class="btn btn-default" ng-change="search()">
                        <option value="number">数量正序</option>
                        <option value="number desc">数量倒序</option>
                        <option value="sum">金额正序</option>
                        <option value="sum desc">金额倒序</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-3 pull-right" >
                <div class="input-group">
                    <input type="text" class="input-sm form-control" placeholder="输入商品进行搜索" ng-model="search_context">
                    <span class="input-group-btn">
            <button class="btn btn-sm btn-default" ng-click="search()" type="button">Go!</button>
          </span>
                </div>
            </div>
        </div>
        <div class="table-responsive" ng-if="data.total_count>0">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>商品名称</th>
                    <th>批次</th>
                    <th>库存数量</th>
                    <th>库存金额</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stock in data.stock">
                    <td>{{$index+1}}</td>
                    <td>{{stock.goods_name}}</td>
                    <td>{{stock.inorder==0?'':stock.inorder}}</td>
                    <td>
                        <p ng-hide="data.stock[$index].editing">{{stock.number}}{{stock.unit_name}}</p>
                    </td>
                    <td>{{stock.sum|currency:'￥'}}</td>

                    <td>
                        <a ng-click="delStock(stock) "><i class="glyphicon glyphicon-remove"></i>删除</a>
                        <a ng-click="updateStock(stock)" ng-show="storeId!=0 "><i class="fa fa-save">报损溢</i></a>&nbsp;
                        <a ng-click="stockDetail(stock)" ng-show="storeId!=0 "><i class="icon-magnifier">明细</i></a>
                        <a ng-click="exchange(stock)" ng-show="storeId!=0&&stock.number>0"><i class="fa fa-exchange"></i>仓库调转</a>
                        <a ng-click="transfer(stock)" ng-show="storeId!=0&&stock.number>0"><i class="glyphicon glyphicon-transfer"></i>商品拆装</a>
                        <a ng-click="carry(stock)" ng-show="storeId!=0&&stock.inorder!=0&&stock.number>0"><i  class="icon-arrow-down"></i>结转下批次</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-8 text-left">
                    <small class="text-muted inline m-t-sm m-b-sm">{{data.total_count}}条记录</small>
                </div>
                <div ng-if="data.page_count>1" class="col-sm-4 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-none m-b-none">
                        <li ng-if="data.page_index>1"><a ng-click="query(data.page_index-1,search_context)"><i class="fa fa-chevron-left"></i></a></li>
                        <li ng-repeat="page in data.pages" ng-class="{active:page==data.page_index}"><a ng-click="query(page,search_context)">{{page}}</a></li>
                        <li ng-if="data.page_index<data.page_count"><a ng-click="query(data.page_index+1,search_context)"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <!-- toaster directive -->
    <toaster-container toaster-options="{'position-class': 'toast-center', 'close-button':true}"></toaster-container>
    <!-- / toaster directive -->
</div>