<div class="wrapper-md" ng-controller="McreditController">
    <div class="panel panel-default" >
        <div class="panel-heading">
            应收管理
        </div>
        <div class="row wrapper">
            <div  class="col-sm-6">
            <label style="padding-left: 2%"> 合计应收金额:</label>{{ttlCredit|currency:'￥'}}
                <button class="btn m-b-xs  btn-danger" ng-click="printAll()">打印全报表</button>
            </div>
            <div class="col-sm-3">选择排序方式
                <select ng-model="order" class="btn btn-default" ng-change="pageQuery()">
                    <option value="time">时间正序</option>
                    <option value="time desc">时间倒序</option>
                    <option value="sum">金额正序</option>
                    <option value="sum desc">金额倒序</option>
                </select>
            </div>
            <div class="col-sm-3 pull-right">
                <div class="input-group">
                <input type="text" class="input-sm form-control" placeholder="输入客户姓名或编码" ng-model="search_context">
                <span class="input-group-btn ">
                    <button class="btn btn-sm btn-default" ng-click="pageQuery()" type="button">搜索</button>
                </span>
                </div>
            </div>
        </div>
        <div class=" table-responsive">
            <table class="table table-striped  b-t b-light" >
                <thead>
                <tr>
                    <th>编号</th>
                    <th>客户</th>
                    <th>金额</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="list in data.credit" >
                    <td>{{$index+1}}</td>
                    <td>{{list.member_name}}</td>
                    <td>{{list.sum|currency:'￥'}}</td>
                    <td>
                        <a ng-click="more(list)"><i class=" icon-magnifier" ></i></a>
                        <a ng-click="printCredit(list)"><i class="icon-printer" ></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-8 text-left">
                    <small class="text-muted inline m-t-sm m-b-sm">{{data.total_count}}条记录</small>
                </div>
                <div ng-if="data.page_count>1" class="col-sm-4 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-none m-b-none">
                        <li ng-if="data.page_index>1"><a ng-click="pageQuery(data.page_index-1,search_context)"><i class="fa fa-chevron-left"></i></a></li>
                        <li ng-repeat="page in data.pages" ng-class="{active:page==data.page_index}"><a ng-click="pageQuery(page,search_context)">{{page}}</a></li>
                        <li ng-if="data.page_index<data.page_count"><a ng-click="pageQuery(data.page_index+1,search_context)"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <!-- toaster directive -->
    <toaster-container toaster-options="{'position-class': 'toast-center', 'close-button':true}"></toaster-container>
    <!-- / toaster directive -->
</div>
